$topbarMax: 10vh;
$topbarMin: 6vh;
$primary:       #94C83D;
$secondary:     #137167;
$success:       $primary;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-900;